<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src=<%= "/user_images/#{@user.image_name}"%>>
      <% if @user.id == @current_user.id %>
        <div class="profile">
          <div class="button_edit">
            <%= link_to("プロフィールを編集","/users/#{@user.id}/edit") %>
          </div>
          <div class="UserDescription">
            <%= @user.id %>
          </div>
        </div>
      <% else %>
        <div class="button_follow">
          <% if Follow.find_by(user_id: @current_user.id,following_user_id: @user.id) %>
              <%= link_to("フォロー中","/follows/#{@user.id}/destroy",{method: "post"}) %>
          <% else %>
              <%= link_to("フォローする","/follows/#{@user.id}/create",{method: "post"}) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
    </div>
    <%= @follows_count %>
    <%= link_to("フォロー","/users/#{@user.id}/followings") %>
    <%= @followers_count %>
    <%= link_to("フォロワー","/users/#{@user.id}/followers") %>

    <ul class="user-tabs">
      <li><%= link_to("投稿","/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね！","/users/#{@user.id}/likes") %></li>
    </ul>

    <% if @likes.count != 0 %>
      <% @likes.each do |like| %>
        <% post = Post.find_by(id: like.post_id) %>
        <div class="posts-index-item">
          <div class="post-left">
            <img src="<%= "/user_images/#{post.user.image_name}" %>">
          </div>
          <div class="post-right">
            <div class="post-user-name">
              <%= link_to(post.user.name,"/users/#{post.user.id}") %>
            </div>
            <%= link_to(post.content,"/posts/#{post.id}") %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="posts-index-item">まだいいねはありません。</div>
    <% end %>
  </div>
</div>