<div class="main user-show">
  <div class="container">
    <div>
    </div>
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}"%>">
      <% if @user.id == @current_user.id %>
        <div class="profile">
          <div class="button_edit">
            <%= link_to("プロフィールを編集","/users/#{@user.id}/edit") %>
          </div>
          <div class="UserDescription">
            <%= @user.id %>
          </div>
        </div>
      <% else %>
        <div class="button_follow">
          <% if Follow.find_by(user_id: @current_user.id,following_user_id: @user.id) %>
              <%= link_to("フォロー中","/follows/#{@user.id}/destroy",{method: "post"}) %>
          <% else %>
              <%= link_to("フォローする","/follows/#{@user.id}/create",{method: "post"}) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
    </div>
    <%= @follows_count %>
    <%= link_to("フォロー","/users/#{@user.id}/followings") %>
    <%= @followers_count %>
    <%= link_to("フォロワー","/users/#{@user.id}/followers") %>

    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿","/users/#{@user.id}") %></li>
      <li><%= link_to("いいね！","/users/#{@user.id}/likes") %></li>
    </ul>

    <% @posts.order(updated_at: :desc).each do |post| %>
      <% @likes_count = post.likes.count %>
      <% @retweets_count = Retweet.where(post_id: post.id).count %>
      <div class="posts-index-item">
        <% retweet_flg = Retweet.find_by(user_id: @current_user.id,post_id: post.id) %>
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <% if retweet_flg %>
            <div class="fa fa-retweet retweet-btn-off retweet-flg">
              <%= "リツイート済み" %>
            </div>
          <% end %>

          <% # 投稿者名 %>
          <div class="post-user-name">
            <%= link_to(post.user.name,"/users/#{post.user.id}") %>
            <div class="tweetinfo">
              <%= @user.email %>
              <%= l post.updated_at %>
            </div>
          </div>

          <% # 投稿 %>
          <div class="post-text">
            <%= link_to(post.content,"/posts/#{post.id}") %>
          </div>

          <% #リプライボタン %>
          <i class="far fa-comment"></i>
          <%= 0 %>

          <% #リツイートボタン %>
          <% if retweet_flg %>
            <%= link_to("/retweets/#{post.id}/destroy",{method: "post"}) do %>
              <span class="fa fa-retweet retweet-btn-on"></span>
            <% end %>
          <% else %>
            <%= link_to("/retweets/#{post.id}/create",{method: "post"}) do %>
              <span class="fa fa-retweet retweet-btn-off"></span>
            <% end %>
          <% end %>
          <%= @retweets_count %>

          <% #いいねボタン %>
          <% if Like.find_by(user_id: @current_user.id,post_id: post.id) %>
            <%= link_to("/likes/#{post.id}/destroy",{method: "post"}) do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{post.id}/create",{method: "post"}) do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>
          <%= @likes_count %>

          <div class="post-menus">
            <% if post.user_id == @current_user.id %>
              <%= link_to("編集","/posts/#{post.id}/edit") %>
              <%= link_to("削除","/posts/#{post.id}/destroy",{method: "post"}) %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>