<div class="main posts-index">
  <div class="container">
    <div class="form-heading">ホーム</div>
    <%= form_tag("/posts/create") do %>
      <div class="form-tweet">
        <div class="form-tweet-body">
          <div class="post-left">
            <%= link_to("/users/#{@current_user.id}") do %>
              <img src="<%= "/user_images/#{@current_user.image_name}" %>">
            <% end %>
          </div>
          <div class="form-tweet-index">
            <% @post.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
            <textarea name="content" placeholder="いまどうしてる？" ><%= @post.content %></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
      </div>
    <% end %>

    <% @posts.each do |post| %>
      <% @likes_count = post.likes.count %>
      <% @retweets_count = Retweet.where(post_id: post.id).count %>
      <div class="posts-index-item">
        <% retweet_flg = Retweet.find_by(user_id: @current_user.id,post_id: post.id) %>
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <% if retweet_flg %>
            <div class="fa fa-retweet retweet-btn-off retweet-flg">
              <%= "リツイート済み" %>
            </div>
          <% end %>
          <div class="post-user-name">
            <%= link_to(post.user.name,"/users/#{post.user_id}") %>
            <div class="tweetinfo">
              <%= post.user.email %>
              <%= l post.updated_at %>
            </div>
          </div>
          <div class="post-text">
            <%= link_to(post.content,"/posts/#{post.id}") %>
          </div>

          <% #リプライボタン %>
          <i class="far fa-comment"></i>
          <%= 0 %>

          <% #リツイートボタン %>
          <% if retweet_flg %>
            <%= link_to("/retweets/#{post.id}/destroy",{method: "post"}) do %>
              <span class="fa fa-retweet retweet-btn-on"></span>
            <% end %>
          <% else %>
            <%= link_to("/retweets/#{post.id}/create",{method: "post"}) do %>
              <span class="fa fa-retweet retweet-btn-off"></span>
            <% end %>
          <% end %>
          <%= @retweets_count %>

          <% #いいねボタン %>
          <% if Like.find_by(user_id: @current_user.id,post_id: post.id) %>
            <%= link_to("/likes/#{post.id}/destroy",{method: "post"}) do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{post.id}/create",{method: "post"}) do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>
          <%= @likes_count %>

          <div class="post-menus">
            <% if post.user_id == @current_user.id %>
              <%= link_to("編集","/posts/#{post.id}/edit") %>
              <%= link_to("削除","/posts/#{post.id}/destroy",{method: "post"}) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
