<div class="main posts-show">
  <div class="container">
    <%= link_to("/posts/index") do %>
      <span class="fas fa-angle-left page_back">一覧に戻る</span>
    <% end %>
    <div class="posts-show-item">
      <% retweet_flg = Retweet.find_by(user_id: @current_user.id,post_id: @post.id) %>
      <% @likes_count = @post.likes.count %>
      <% @retweets_count = Retweet.where(post_id: @post.id).count %>
      <% if retweet_flg %>
        <div class="fa fa-retweet retweet-btn-off retweet-flg" style="margin-bottom:20px;">
          <%= "リツイート済み" %>
        </div>
      <% end %>
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@post.user.image_name}" %>">
        <%= link_to(@post.user.name,"/users/#{@post.user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= l @post.updated_at %>
      </div>

      <% #リプライボタン %>
      <i class="far fa-comment"></i>
      <%= 0 %>

      <% #リツイートボタン %>
      <% if retweet_flg %>
        <%= link_to("/retweets/#{@post.id}/destroy",{method: "post"}) do %>
          <span class="fa fa-retweet retweet-btn-on"></span>
        <% end %>
      <% else %>
        <%= link_to("/retweets/#{@post.id}/create",{method: "post"}) do %>
          <span class="fa fa-retweet retweet-btn-off"></span>
        <% end %>
      <% end %>
      <%= @retweets_count %>

      <% #いいねボタン %>
      <% if Like.find_by(user_id: @current_user.id,post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy",{method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create",{method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>

      <div class="post-menus">
        <% if @post.user_id == @current_user.id %>
          <%= link_to("編集","/posts/#{@post.id}/edit") %>
          <%= link_to("削除","/posts/#{@post.id}/destroy",{method: "post"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>